<section class="home-container">
    <section class="wallet-nav-container">
        <!-- <aside class="wallet-ccontainer">
            <h1>Wallet</h1>
        </aside> -->
        <nav class="nav-container">
            <div class="logo">
                <img src="../../../../assets/logo.png" alt="Logo finance">
                <span>UmReal</span>
            </div>
        </nav>
    </section>
    <section class="main-container">
        <div class="header-action">
            <input type="search" name="search" placeholder="Pesquisa...">
            <div class="button-actions">
                <button>b1</button>
                <button>b2</button>
            </div> 
            <div class="account">
                <span>Olá, Fulano.</span>
                <button>
                    <img src="../../../../assets/perfil-image.png" alt="Foto de perfil.">
                </button>
            </div>          
        </div>
    </section>
</section>