<section class="section-login">
    <div class="container-animated">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <form class="card-login" [formGroup]="userForm">
        <div class="top">
            <h1>Login</h1>
        </div>
       
        <div class="main">
            <h3 class="errorLogin">
                @if (errorMessage) {
                    {{message}}
                }
                </h3>
            <input type="email" name="email" placeholder="seuemail@email.com" formControlName="email">
            <input type="password" name="password" placeholder="sua senha" formControlName="pass">
        </div>
        <div class="footer">
            <button (click)="login($event)">Entrar</button>
            <span>Ou</span>
            <button (click)="navigate('/login/createAccount')">Criar conta.</button>
        </div>
    </form>
</section>