<section class="section-login">

    <div class="container-animated">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="card-login">
        <div class="top">
            <h1>Bem-vindo(a) ao Person!</h1>
        </div>
        <div class="main">
            <input type="email" name="email" placeholder="seuemail@email.com">
            <input type="password" name="password" placeholder="sua senha">
        </div>
        <div class="footer">
            <button>Entrar</button>
            <span>Ou</span>
            <span>Criar conta.</span>
        </div>
    </div>
</section>