<section class="section-account">

    <div class="container-animated">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            
        </ul>
    </div>

    <div class="card-account">
        <div class="top">
            <h1>Criar conta</h1>
        </div>
        <div class="main">
            <input type="text" name="arroba" placeholder="nome de usuário EX. @admin">
            <input type="text" name="name" placeholder="seu nome aqui">
            <input type="text" name="sName" placeholder="Seu sobrenome aqui">
            <input type="email" name="email" placeholder="seuemail@email.com">
            <input type="password" name="password" placeholder="sua senha">
        </div>
        <div class="footer">
            <button>Cadastrar</button>
            <span>Ou</span>
            <button (click)="navigate('/login')">Acessar conta.</button>
        </div>
    </div>

</section>