<section>
    <div class="head">
        <div class="card-detail">
            <span>Entrada</span>
            <span> R$: 29,90</span>
        </div>
        <div class="card-detail">
            <span>Saída</span>
            <span> R$: 29,90</span>
        </div>
        <div class="card-detail">
            <span>Saldo</span>
            <span> R$: 29,90</span>
        </div>
    </div>
    <div class="body">
        <div class="container-chart1">
            <div class="div-chart">
                <h3>Movimentação por data</h3>
                <canvas id="transactions-value-chart">{{chart}}</canvas>
            </div>
            <div class="div-chart2">
                <h3>Movimentação por pessoa</h3>
                <canvas id="transactions-person-chart">{{chart}}</canvas>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</section>