<section>
    <div class="head">
        <div class="card-detail">
            <span>Entrada</span>
            <span> R$: 29,90</span>
        </div>
        <div class="card-detail">
            <span>Saída</span>
            <span> R$: 29,90</span>
        </div>
        <div class="card-detail">
            <span>Saldo</span>
            <span> R$: 29,90</span>
        </div>
    </div>
    <div class="body">
        <div class="div-chart">
            <canvas id="Mychart">{{chart}}</canvas>
        </div>
    </div>
    <div class="footer"></div>
</section>